<!doctype html>

<html>
    <head>
        <title>Descry OCR | Kayah Li</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Kayah Li</h1>
        <div id="input-parent">
            <div id="input">
                <div id="upload-text">
                    Upload an image:
                </div>
                <div id="form">
                    <form method="post" enctype="multipart/form-data">
                        <input type="file" name="file">
                        <input type="submit" value="Upload">
                    </form>
                </div>
                <br>
                Model prediction: {{pred}}
            </div>
        </div>
        </div>
        <div id="1">
            <h2>1. Introduction</h2>
            <p><a href="https://en.wikipedia.org/wiki/Kayah_Li_alphabet">Kayah Li</a> is an alphabet used to write dialects of the <a href="https://en.wikipedia.org/wiki/Karenni_language">Kayah</a> continuum (also known as Karenni or Red Karen), belonging to the Karenic branch of the Sino-Tibetan language family and spoken in Myanmar. It was invented in 1962 by Htae Bu Phae, a teacher from southeastern Myanmar, to underscore Karen people's specificity against Burmese people<sup>[1]</sup>.</p>
            <p>Kayah Li is written left to right and includes 28 base letters, 5 common vowels represented as ꤢ with diacritics, and 5 diphthongs occuring only in loanwords, represented as ꤣ with diacritics. Additionally, there are tone markers and digits.</p>
            <div class="table-parent">
                <table rules="all">
                    <tr>
                        <th width=50%>Character</th>
                        <th width=50%>IPA</th>
                    </tr>
                    <tr>
                        <td>ꤊ</td>
                        <td>k</td>
                    </tr>
                    <tr>
                        <td>ꤋ</td>
                        <td>kʰ</td>
                    </tr>
                    <tr>
                        <td>ꤌ</td>
                        <td>g</td>
                    </tr>
                    <tr>
                        <td>ꤍ</td>
                        <td>ŋ</td>
                    </tr>
                    <tr>
                        <td>ꤎ</td>
                        <td>s</td>
                    </tr>
                    <tr>
                        <td>ꤏ</td>
                        <td>sʰ</td>
                    </tr>
                    <tr>
                        <td>ꤐ</td>
                        <td>ʑ</td>
                    </tr>
                    <tr>
                        <td>ꤑ</td>
                        <td>ɲ</td>
                    </tr>
                    <tr>
                        <td>ꤒ</td>
                        <td>t</td>
                    </tr>
                    <tr>
                        <td>ꤓ</td>
                        <td>tʰ</td>
                    </tr>
                    <tr>
                        <td>ꤔ</td>
                        <td>n</td>
                    </tr>
                    <tr>
                        <td>ꤕ</td>
                        <td>p</td>
                    </tr>
                    <tr>
                        <td>ꤖ</td>
                        <td>pʰ</td>
                    </tr>
                    <tr>
                        <td>ꤗ</td>
                        <td>m</td>
                    </tr>
                    <tr>
                        <td>ꤘ</td>
                        <td>d</td>
                    </tr>
                    <tr>
                        <td>ꤙ</td>
                        <td>b</td>
                    </tr>
                    <tr>
                        <td>ꤚ</td>
                        <td>r</td>
                    </tr>
                </table>
                <table rules="all">
                    <tr>
                        <th width=50%>Character</th>
                        <th width=50%>IPA</th>
                    </tr>
                    <tr>
                        <td>ꤛ</td>
                        <td>j</td>
                    </tr>
                    <tr>
                        <td>ꤜ</td>
                        <td>l</td>
                    </tr>
                    <tr>
                        <td>ꤝ</td>
                        <td>w</td>
                    </tr>
                    <tr>
                        <td>ꤞ</td>
                        <td>θ</td>
                    </tr>
                    <tr>
                        <td>ꤟ</td>
                        <td>h</td>
                    </tr>
                    <tr>
                        <td>ꤠ</td>
                        <td>v</td>
                    </tr>
                    <tr>
                        <td>ꤡ</td>
                        <td>t͡ɕ</td>
                    </tr>
                    <tr>
                        <td>ꤢ</td>
                        <td>a</td>
                    </tr>
                    <tr>
                        <td>ꤣ</td>
                        <td>ɤ</td>
                    </tr>
                    <tr>
                        <td>ꤤ</td>
                        <td>i</td>
                    </tr>
                    <tr>
                        <td>ꤥ</td>
                        <td>o</td>
                    </tr>
                    <tr>
                        <td>ꤢꤦ</td>
                        <td>ɯ</td>
                    </tr>
                    <tr>
                        <td>ꤢꤧ</td>
                        <td>ɛ</td>
                    </tr>
                    <tr>
                        <td>ꤢꤨ</td>
                        <td>u</td>
                    </tr>
                    <tr>
                        <td>ꤢꤩ</td>
                        <td>e</td>
                    </tr>
                    <tr>
                        <td>ꤢꤪ</td>
                        <td>ɔ</td>
                    </tr>
                </table>
            </div>
            <div class="caption">
                Characters considered for the project
            </div>
            <p>The script has been supported by Unicode since 2008<sup>[2]</sup>. The available font families are Google's Noto Sans Kayah Li<sup>[3]</sup>, SIL International's Kay Pho Du<sup>[4]</sup>, and Arakun's Kayah Li v2<sup>[5]</sup>.</p>
            <div class="figure-container">
                <img class="one" src="{{ url_for('static', filename='Kayah-Mi.png') }}">
            </div>
            <div class="caption">A typographic artwork by Geoffrey Bunting<sup>[6]</sup></div>
        </div>
        <div id="2">
            <h2>2. Statistics</h2>
            <div class="table-parent">
                <table class="stats" rules="all" cellpadding="5">
                    <col>
                    <tr>
                        <th style="min-width: 300px;" scope="row"># of characters in the primary dataset</th>
                        <td style="min-width: 300px;">1320</td>
                    </tr>
                    <tr>
                        <th style="min-width: 300px;" scope="row"># of trainable parameters</th>
                        <td style="min-width: 300px;">7 627 169</td>
                    </tr>
                    <tr>
                        <th style="min-width: 300px;" scope="row">Accuracy on the test set</th>
                        <td style="min-width: 300px;">98.7%</td>
                      </tr>
                </table>
            </div>
        </div>
        <div id="3">
            <h2>3. Filter Visualization</h2>
            <p>For filter ids in range [100, 300], the dominant interpretable pattern is "wavy" or irregular diagonal lines. In range [300, 500], there are very few interpretable patterns, with almost all filter activations being random. In the 500+ range, there is no dominant shape, as many variants of shapes occur.</p>
            <div class="figure-container">
                <img class="four" src="{{ url_for('static', filename='kayahli-512-211.png') }}">
                <img class="four" src="{{ url_for('static', filename='kayahli-1024-528.png') }}">
                <img class="four" src="{{ url_for('static', filename='kayahli-1024-555.png') }}">
                <img class="four" src="{{ url_for('static', filename='kayahli-1024-677.png') }}">
            </div>
            <div class="caption">
                Conv3-512-211: interrupted diagonal lines. Conv3-1024-[528, 555, 677]: examples of shapes from the 500+ range.
            </div>
        </div>
        <div id="4">
            <h2>4. Citations</h2>
            <p><span style="color: #0045CC;">[1]</span> Kelly, Piers. "The art of not being legible." Terrain, vol. 70, 2018, <a href="https://doi.org/10.4000/terrain.17103">doi.org/10.4000/terrain.17103</a>.</p>
            <p><span style="color: #0045CC;">[2]</span> "Unicode 5.1.0." Unicode, <a href="https://www.unicode.org/versions/Unicode5.1.0/">www.unicode.org/versions/Unicode5.1.0/</a>.</p>
            <p><span style="color: #0045CC;">[3]</span> "Noto Sans Kayah Li." Google Fonts, <a href="https://fonts.google.com/noto/specimen/Noto+Sans+Kayah+Li">fonts.google.com/noto/specimen/Noto+Sans+Kayah+Li</a>.</p>
            <p><span style="color: #0045CC;">[4]</span> "Kay Pho Du." Google Fonts, <a href="https://fonts.google.com/specimen/Kay+Pho+Du">fonts.google.com/specimen/Kay+Pho+Du</a>.</p>
            <p><span style="color: #0045CC;">[5]</span> "Kayah Li v2." FontStruct, <a href="https://fontstruct.com/fontstructions/show/1301857/kayah-li-1">fontstruct.com/fontstructions/show/1301857/kayah-li-1</a>.</p>
            <p><span style="color: #0045CC;">[6]</span> "Digitising Kayah Li." geoffreybunting.co.uk, <a href="https://geoffreybunting.co.uk/Kayah-Mi">geoffreybunting.co.uk/Kayah-Mi</a>.</p>
        </div>
    </body>
</html>